
h1{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: yellow;
}
#visi_skaitli{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#nepara_skaitli{
    color: green;   
    font-size: 20px;
    font-weight: bold;
}

#para_skaitli{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

#nettelotn_skaitli{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

#neattelotp_skaitli{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

p {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

button {
    background-color: greenyellow;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}

